body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  color: white;
  background-color: #00447C;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  text-align: center;
}
.list {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

}
.err {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  color: red;
  padding: 2rem;
  text-align: center;
}
.button {
  background-color: #00447C;
  color: white;
  border: none;
  padding: 15px 32px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  display: block;

  font-size: 16px;
}
.box {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  border-radius: 25px;
  background-color: white;
  color: black;
  max-width: 38rem;
  padding: 2rem;
  text-align: center;
}
.footer {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  font-size: 12px;
  padding: 2rem;
  text-align: center;
}
.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  font-size: 20px;
  padding: 2rem;
  text-align: center;
}
.per {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  font-size: 35px;
  padding: 2rem;
  text-align: center;
}
.button:hover {
  box-shadow: 0 0 4px 1px rgba(0, 140, 186, 0.5);;
}
