body {
    overflow: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
  }
  
  .circle-1 {
    background-color:#ffffff;
  }
  .circle-1:before {
    background-color:#ffffff;
    animation-delay: 200ms;
  }
  
  .circle-2 {
    background-color: #ffffff;
  }
  .circle-2:before {
    background-color: #ffffff;
    animation-delay: 400ms;
  }
  
  .circle-3 {
    background-color: #ffffff;
  }
  .circle-3:before {
    background-color: #ffffff;
    animation-delay: 600ms;
  }
  
  
  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%, 75% {
      transform: scale(2.5);
    }
    78%, 100% {
      opacity: 0;
    }
  }